In [1]:
import pandas as pd

C:\Users\Asus\Anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.8' currently installed).
  warnings.warn(msg, UserWarning)

In [3]:
data_csv = pd.read_csv("dataset_airbnb.csv")
data_csv

,id,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,10/19/2018,0.21,6,365
1,2595,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,5/21/2019,0.38,2,355
2,3647,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,7/5/2019,4.64,1,194
4,5022,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,11/19/2018,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

untuk mengecek apakah terdapat data yang kosong maka gunakan perintah dibawah ini

In [4]:
print(data_csv.isnull().values.any())

True

hasil diatas menampilkan true, sehingga data yang kita gunakan terdapat data yang kosong

# Beberapa cara mengisi data kosong, diantaranya :

# 1. Menggunakan Mean

In [11]:
data_csv = pd.read_csv("dataset_airbnb.csv")

print("===========================================")
print("Dataset yang masih terdapat nilai kosong ! :")
print(data_csv.head(10))

===========================================
Dataset yang masih terdapat nilai kosong ! :
     id  host_id    host_name neighbourhood_group       neighbourhood  \
0  2539     2787         John            Brooklyn          Kensington
1  2595     2845     Jennifer           Manhattan             Midtown
2  3647     4632    Elisabeth           Manhattan              Harlem
3  3831     4869  LisaRoxanne            Brooklyn        Clinton Hill
4  5022     7192        Laura           Manhattan         East Harlem
5  5099     7322        Chris           Manhattan         Murray Hill
6  5121     7356        Garon            Brooklyn  Bedford-Stuyvesant
7  5178     8967     Shunichi           Manhattan      Hell's Kitchen
8  5203     7490    MaryEllen           Manhattan     Upper West Side
9  5238     7549          Ben           Manhattan           Chinatown

   latitude  longitude        room_type  price  minimum_nights  \
0  40.64749  -73.97237     Private room    149               1
1  40.75362  -73.98377  Entire home/apt    225               1
2  40.80902  -73.94190     Private room    150               3
3  40.68514  -73.95976  Entire home/apt     89               1
4  40.79851  -73.94399  Entire home/apt     80              10
5  40.74767  -73.97500  Entire home/apt    200               3
6  40.68688  -73.95596     Private room     60              45
7  40.76489  -73.98493     Private room     79               2
8  40.80178  -73.96723     Private room     79               2
9  40.71344  -73.99037  Entire home/apt    150               1

   number_of_reviews last_review  reviews_per_month  \
0                  9  10/19/2018               0.21
1                 45   5/21/2019               0.38
2                  0         NaN                NaN
3                270    7/5/2019               4.64
4                  9  11/19/2018               0.10
5                 74   6/22/2019               0.59
6                 49   10/5/2017               0.40
7                430   6/24/2019               3.47
8                118   7/21/2017               0.99
9                160    6/9/2019               1.33

   calculated_host_listings_count  availability_365
0                               6               365
1                               2               355
2                               1               365
3                               1               194
4                               1                 0
5                               1               129
6                               1                 0
7                               1               220
8                               1                 0
9                               4               188

In [12]:
print("===========================================")
print("Dataset yang sudah tidak terdapat nilai kosong ! :")
data_csv = data_csv.mean().fillna(data_csv.mean())
print(data_csv.head(10))

===========================================
Dataset yang sudah tidak terdapat nilai kosong ! :

C:\Users\Asus\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until

id                                1.901714e+07
host_id                           6.762001e+07
latitude                          4.072895e+01
longitude                        -7.395217e+01
price                             1.527207e+02
minimum_nights                    7.029962e+00
number_of_reviews                 2.327447e+01
reviews_per_month                 1.373221e+00
calculated_host_listings_count    7.143982e+00
availability_365                  1.127813e+02
dtype: float64

# 2. Menggunakan Median

In [14]:
data_csv = pd.read_csv("dataset_airbnb.csv")
print(data_csv.median()) #untuk mengetahui median pada data yang kosong

id                                1.967728e+07
host_id                           3.079382e+07
latitude                          4.072307e+01
longitude                        -7.395568e+01
price                             1.060000e+02
minimum_nights                    3.000000e+00
number_of_reviews                 5.000000e+00
reviews_per_month                 7.200000e-01
calculated_host_listings_count    1.000000e+00
availability_365                  4.500000e+01
dtype: float64

C:\Users\Asus\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

In [15]:
data_csv.fillna(data_csv.median())
print(data_csv.head(10))

     id  host_id    host_name neighbourhood_group       neighbourhood  \
0  2539     2787         John            Brooklyn          Kensington
1  2595     2845     Jennifer           Manhattan             Midtown
2  3647     4632    Elisabeth           Manhattan              Harlem
3  3831     4869  LisaRoxanne            Brooklyn        Clinton Hill
4  5022     7192        Laura           Manhattan         East Harlem
5  5099     7322        Chris           Manhattan         Murray Hill
6  5121     7356        Garon            Brooklyn  Bedford-Stuyvesant
7  5178     8967     Shunichi           Manhattan      Hell's Kitchen
8  5203     7490    MaryEllen           Manhattan     Upper West Side
9  5238     7549          Ben           Manhattan           Chinatown

   latitude  longitude        room_type  price  minimum_nights  \
0  40.64749  -73.97237     Private room    149               1
1  40.75362  -73.98377  Entire home/apt    225               1
2  40.80902  -73.94190     Private room    150               3
3  40.68514  -73.95976  Entire home/apt     89               1
4  40.79851  -73.94399  Entire home/apt     80              10
5  40.74767  -73.97500  Entire home/apt    200               3
6  40.68688  -73.95596     Private room     60              45
7  40.76489  -73.98493     Private room     79               2
8  40.80178  -73.96723     Private room     79               2
9  40.71344  -73.99037  Entire home/apt    150               1

   number_of_reviews last_review  reviews_per_month  \
0                  9  10/19/2018               0.21
1                 45   5/21/2019               0.38
2                  0         NaN                NaN
3                270    7/5/2019               4.64
4                  9  11/19/2018               0.10
5                 74   6/22/2019               0.59
6                 49   10/5/2017               0.40
7                430   6/24/2019               3.47
8                118   7/21/2017               0.99
9                160    6/9/2019               1.33

   calculated_host_listings_count  availability_365
0                               6               365
1                               2               355
2                               1               365
3                               1               194
4                               1                 0
5                               1               129
6                               1                 0
7                               1               220
8                               1                 0
9                               4               188

C:\Users\Asus\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.